In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
orders = pd.read_csv('../data/Orders.csv')
returns = pd.read_csv('../data/Returns.csv')

In [3]:
pd.set_option('display.max_columns', 24)

In [4]:
orders.sample(5)
orders.shape

(51290, 24)

In [5]:
returns.sample(5)
returns.shape

(1079, 3)

In [6]:
orders['Sales'] = [x.replace('$', '') for x in orders['Sales']]
orders['Sales'] = [x.replace(',', '') for x in orders['Sales']]
orders['Sales'].dtype

dtype('O')

In [7]:
orders['Sales'] = orders['Sales'].astype(float)
orders['Sales'].dtype

dtype('float64')

In [8]:
orders['Profit'] = [x.replace('$', '') for x in orders['Profit']]
orders['Profit'] = [x.replace(',', '') for x in orders['Profit']]

In [9]:
orders['Profit'] = orders['Profit'].astype(float)

In [10]:
orders['Profit'].dtype

dtype('float64')

In [11]:
orders.sample(10)

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,Country,Region,Market,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority
19025,34758,CA-2015-EM13825140-42314,11/6/15,11/11/15,Second Class,EM-138251402,Elizabeth Moffitt,Corporate,75081.0,Dallas,Texas,United States,Central US,USCA,TEC-PH-5363,Technology,Phones,Nortel Meridian M3904 Professional Digital phone,492.77,4,0.20,55.44,39.600,Medium
40699,29939,IN-2014-MC1742559-41891,9/9/14,9/11/14,Second Class,MC-1742559,Mark Cousins,Corporate,NaN,Jakarta,Jakarta,Indonesia,Southeastern Asia,Asia Pacific,OFF-ST-6025,Office Supplies,Storage,"Smead Box, Single Width",17.93,2,0.17,1.73,2.090,Medium
31829,23889,ID-2014-SC2080059-41922,10/10/14,10/15/14,Standard Class,SC-2080059,Stuart Calhoun,Consumer,NaN,Bandung,Jawa Barat,Indonesia,Southeastern Asia,Asia Pacific,OFF-EN-4433,Office Supplies,Envelopes,"GlobeWeis Business Envelopes, Set of 50",64.33,7,0.47,-57.05,4.720,Medium
21511,12539,ES-2012-CD1198048-40989,3/21/12,3/26/12,Second Class,CD-1198048,Carol Darley,Consumer,NaN,Augsburg,Bavaria,Germany,Western Europe,Europe,OFF-PA-6602,Office Supplies,Paper,"Xerox Cards & Envelopes, Premium",89.94,2,0.00,26.94,10.970,Medium
43001,23005,IN-2013-CD122807-41426,6/1/13,6/6/13,Standard Class,CD-122807,Christina DeMoss,Consumer,NaN,Adelaide,South Australia,Australia,Oceania,Asia Pacific,OFF-LA-6045,Office Supplies,Labels,"Smead Legal Exhibit Labels, Laser Printer Comp...",9.99,1,0.10,3.66,1.860,Medium
24067,9668,US-2015-MZ1733555-42333,11/25/15,11/30/15,Standard Class,MZ-1733555,Maria Zettner,Home Office,NaN,Tegucigalpa,Francisco Moraz√°n,Honduras,Central America,LATAM,TEC-PH-3785,Technology,Phones,"Cisco Audio Dock, Full Size",146.69,2,0.40,-22.03,8.852,Medium
37470,8677,US-2014-DP1300098-41975,12/2/14,12/4/14,First Class,DP-1300098,Darren Powers,Consumer,NaN,San Miguelito,Panama,Panama,Central America,LATAM,OFF-EN-4915,Office Supplies,Envelopes,"Jiffy Mailers, Security-Tint",31.66,2,0.40,-11.62,2.874,Medium
6721,37929,US-2014-BE11455140-41766,5/7/14,5/9/14,Second Class,BE-114551402,Brad Eason,Home Office,65807.0,Springfield,Missouri,United States,Central US,USCA,OFF-AP-3363,Office Supplies,Appliances,Belkin 5 Outlet SurgeMaster Power Centers,54.48,1,0.00,15.25,3.020,High
13581,18506,ES-2015-JF1549045-42038,2/3/15,2/9/15,Standard Class,JF-1549045,Jeremy Farry,Consumer,NaN,Lanester,Brittany,France,Western Europe,Europe,TEC-CO-6004,Technology,Copiers,"Sharp Ink, Laser",528.74,5,0.15,6.14,22.580,Medium
6507,11314,IT-2015-HK1489048-42243,8/27/15,8/31/15,Standard Class,HK-1489048,Heather Kirkland,Corporate,NaN,Berlin,Berlin,Germany,Western Europe,Europe,TEC-AC-3388,Technology,Accessories,"Belkin Memory Card, Bluetooth",619.97,6,0.10,82.49,52.450,Medium

In [12]:
orders.columns

Index(['Row.ID', 'Order.ID', 'Order.Date', 'Ship.Date', 'Ship.Mode',
       'Customer.ID', 'Customer.Name', 'Segment', 'Postal.Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product.ID', 'Category',
       'Sub.Category', 'Product.Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping.Cost', 'Order.Priority'],
      dtype='object')

In [13]:
orders['Order.Date'] = pd.to_datetime(orders['Order.Date'])

In [14]:
orders['Order.Date'].dtype

dtype('<M8[ns]')

In [15]:
orders['Ship.Date'] = pd.to_datetime(orders['Ship.Date'])

In [16]:
orders['Month'] = [x.month for x in orders['Order.Date']]
orders.sample(5)

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,Country,...,Market,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority,Month
35215,31003,IN-2015-LS1724592-42105,2015-04-11,2015-04-13,Second Class,LS-1724592,Lynn Smith,Consumer,NaN,Invercargill,Southland,New Zealand,...,Asia Pacific,OFF-LA-6044,Office Supplies,Labels,"Smead Legal Exhibit Labels, Alphabetical",21.84,2,0.0,7.38,3.520,High,4
27395,25855,IN-2014-GG1465027-41843,2014-07-23,2014-07-27,Standard Class,GG-1465027,Greg Guthrie,Corporate,NaN,Taizhou,Jiangsu,China,...,Asia Pacific,OFF-EN-4452,Office Supplies,Envelopes,"GlobeWeis Peel and Seal, Security-Tint",71.37,3,0.0,27.09,6.780,High,7
46655,43814,AO-2015-SK99904-42017,2015-01-13,2015-01-18,Standard Class,SK-99904,Sally Knutson,Consumer,NaN,Luanda,Luanda,Angola,...,Africa,OFF-BI-3737,Office Supplies,Binders,"Cardinal Index Tab, Clear",7.26,1,0.0,2.52,1.520,Medium,1
23447,9182,MX-2015-ES1402028-42166,2015-06-11,2015-06-13,Second Class,ES-1402028,Erica Smith,Consumer,NaN,Bucaramanga,Santander,Colombia,...,LATAM,TEC-PH-5348,Technology,Phones,"Nokia Office Telephone, VoIP",86.96,2,0.0,22.60,9.338,High,6
33392,48414,SF-2015-TT11265117-42258,2015-09-11,2015-09-14,First Class,TT-11265117,Tim Taslimi,Corporate,NaN,Rustenburg,North-West,South Africa,...,Africa,OFF-AR-3488,Office Supplies,Art,"Binney & Smith Markers, Blue",24.09,1,0.0,4.56,4.130,High,9

In [17]:
by_cat = orders.groupby(['Month', 'Category']).agg({'Quantity':sum}).reset_index()

by_cat
# furn = by_cat[by_cat['Category'] == 'Furniture']
# ofc = by_cat[by_cat['Category'] == 'Office Supplies']
# tech = by_cat[by_cat['Category'] == 'Technology']

# cats = [furn, ofc, tech]

# for i in cats:
#     i.plot.bar(x='Month', y='Quantity')

    Month         Category  Quantity
0       1        Furniture      1750
1       1  Office Supplies      5480
2       1       Technology      1642
3       2        Furniture      1494
4       2  Office Supplies      4340
5       2       Technology      1595
6       3        Furniture      2098
7       3  Office Supplies      6283
8       3       Technology      2009
9       4        Furniture      2005
10      4  Office Supplies      6391
11      4       Technology      2070
12      5        Furniture      2484
13      5  Office Supplies      8170
14      5       Technology      2542
15      6        Furniture      3434
16      6  Office Supplies     11012
17      6       Technology      3563
18      7        Furniture      2157
19      7  Office Supplies      6618
20      7       Technology      2271
21      8        Furniture      3059
22      8  Office Supplies     11019
23      8       Technology      3518
24      9        Furniture      4111
25      9  Office Supplies     12572
26      9       Technology      3796
27     10        Furniture      3323
28     10  Office Supplies      9585
29     10       Technology      3395
30     11        Furniture      4471
31     11  Office Supplies     13529
32     11       Technology      4379
33     12        Furniture      4506
34     12  Office Supplies     13245
35     12       Technology      4396

In [25]:
#losses = orders.loc[orders['Profit'] < 0]
#sum(round(losses['Profit'], 2))

returns.columns = ['Returned', 'Order.ID', 'Region']
returns.shape

(1079, 3)

In [26]:
returns = returns.merge(orders, how='inner', on='Order.ID').shape

(2220, 27)

In [27]:
len(returns['Order.ID'].unique())

1079

In [ ]:
returns.sample(5)
returns.shape

In [ ]:
returns['Year'] = [x.year for x in returns['Order.Date']]

In [ ]:
#returns.groupby('Year').agg({'Profit': sum})

neg_profit = returns.loc[returns['Profit'] < 0]
neg_profit.groupby('Year').agg({'Profit': sum})

In [ ]:
repeat_ret = returns.groupby('Customer.ID').agg({'Quantity': sum}).sort_values(by = 'Quantity', ascending=False)

more_than_one = len(repeat_ret.loc[repeat_ret['Quantity'] > 1])

more_than_five = len(repeat_ret.loc[repeat_ret['Quantity'] > 5])

repeat_ret

returns.loc[returns['Customer.ID'] == 'PO-1885082']

In [ ]:
returns.groupby('Region_x').agg({'Quantity': sum}).sort_values(by = 'Quantity', ascending=False)

In [ ]:
returns.groupby('Category').agg({'Quantity': sum}).sort_values(by = 'Quantity', ascending=False)

In [ ]:
returns.groupby('Sub.Category').agg({'Quantity': sum}).sort_values(by = 'Quantity', ascending=False)

#  Part 2

In [ ]:
returns_bool = returns[['Returned', 'Order.ID']]
returns_bool

In [ ]:
orders = orders.merge(returns_bool, how='outer', on='Order.ID')

In [ ]:
orders['Returned'] = [1 if x == 'Yes' else 0 for x in orders['Returned']]

In [ ]:
orders['Process.Time'] = orders['Ship.Date'] - orders['Order.Date']

In [ ]:
orders.sample(5)